<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>If ur on this u suck</title>
</head>
<body>
    <form action="/newpoem" method="post">
        <input type="text" name="title">
        <br>
        <textarea name="poem"></textarea>
        <br>
        <input type="text" name="pw" placeholder="pw">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>