<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poem</title>
    <script defer src="http://localhost:8000/js/poem.js" type="text/javascript"></script>
</head>
<body onload="getpoem()">
    <h1 id="poemtitle"></h1>
    <h3 id="date"></h3>
    <pre id="poem"></pre>
    <p id="fab"><a href="javascript:test()">next</a> | <a href="javascript:back()">back</a></p>
</body>
</html>